<form #StudentList="ngForm" >
<div class="form-group row">    
        <label class="col-sm-2 col-form-label">Student Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="stname" [(ngModel)]="stu.stname"
            placeholder="Enter student Name" required  minlength="2" maxlength="50" #stname="ngModel">
            <!-- <smal *ngIf="stname.touched && (stname.dirty || stname.touched)">
                <div *ngIf="stname.errors?.required">
                    Student Name is required.
                </div> -->

                            <!-- validations -->
                <small *ngIf="stname.invalid && (stname.dirty || stname.touched)" class="text">
                    Student name is required
                </small>    
                <div *ngIf="stname.errors?.minlength">
                    Student Name must be at least 2 characters long.
                </div>
                <div *ngIf="stname.errors?.maxlength">
                    Student Name cannot exceed 50 characters.
                </div>        
        </div>

        <label class="col-sm-2 col-form-label">Student Course</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="course" [(ngModel)]="stu.course"
            placeholder="Enter student course" required #course="ngModel">

            <!-- validations -->
            <small *ngIf="course.invalid && (course.dirty || course.touched)" class="text">
                <div *ngIf="course.errors?.required">
                    Student Course is required.
                </div>
            </small>
           
        </div>
</div>
</form>
<button (click)="addStudent()" *ngIf='stu.id==0' class="btn btn-primary" [disabled]="!StudentList.valid">
    Add
</button>

<button (click)="updateStudent()" *ngIf='stu.id!=0' class="btn btn-success" [disabled]="!StudentList.valid">
    <!-- <button (click)="updateStudent()" *ngIf='id!=0' class="btn btn-primary"> -->
    update 
</button>


   






<!-- <form [formGroup]="studentForm" (ngSubmit)="submitForm()">  
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Student Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="stname" [(ngModel)]="stu.stname"
            placeholder="Enter student Name" required minlength="2" maxlength="50" #stname="ngModel">
       ----- Validation Error Messages -----
         <div *ngIf="stname.invalid && (stname.dirty || stname.touched)">
            <div *ngIf="stname.errors?.required">
                Student Name is required.
            </div>
            <div *ngIf="stname.errors?.minlength">
                Student Name must be at least 2 characters long.
            </div>
            <div *ngIf="stname.errors?.maxlength">
                Student Name cannot exceed 50 characters.
            </div>
        </div>
    </div>

    <label class="col-sm-2 col-form-label">Student Course</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="course" [(ngModel)]="stu.course"
            placeholder="Enter student course" required #course="ngModel">
        <--Validation Error Messages --> 
         <!-- <div *ngIf="course.invalid && (course.dirty || course.touched)">
            <div *ngIf="course.errors?.required">
                Student Course is required.
            </div>
        </div> 
    </div>
</div> 

 </form>   -->

   

    
    
